# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# C++ / CMake
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
*.obj
*.pdb
*.dll
*.lib
*.exp

# Data and results
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/data/splits/*


# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/
build.log